.progress-bar-container {
  padding: 2rem;
  background-color: darkslategray;

  .top-bar {
    text-align: center;
    h2 {
      color: whitesmoke;
      margin: unset;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 3rem;
    }
  }
}
