.app-wrapper {
  max-width: 100%;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  .card-comp {
    height: 20rem;
    padding: 4rem;
    background-color: gray;

    .product-image {
      height: 100%;
      width: 100%;

      .img {
        height: 100%;
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    .card-comp {
      width: 100%;
    }
  }
}
