.slider {
  width: 100%;
  /* max-width: 40rem; */
  height: 20rem;
  position: relative;
}

.image-slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-slider img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Horizontal Slider */
.horizontal-slider .image-slider {
  flex-direction: row;
}

.horizontal-slider .dots {
  bottom: 1rem;
  /* left: 50%;
  transform: translateX(-50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

/* Vertical Slider */
.vertical-slider .image-slider {
  flex-direction: column;
}

.vertical-slider .dots {
  /* right: 1rem; */
  /* top: 50%;
  transform: translateY(-50%); */
  display: flex;
  /* flex-direction: column; */
  gap: 0.5rem;
}

/* Arrows */
.arrow-btn {
  background: rgba(255, 255, 255, 0.7);
  padding: 0.5rem;
  border-radius: 50%;
  transition: background 0.2s ease-in-out;
}

.arrow-btn:hover {
  background: rgba(255, 255, 255, 1);
}

/* Dots */
.dot {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.dot.active {
  transform: scale(1.2);
}
