.timeline-container {
  padding: 1.5rem;
  background-color: #6b6bf5;

  .top-bar {
    text-align: center;
    h2 {
      margin: unset;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 3rem;
    }
  }

  .wrapper {
    height: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    .step-wrapper {
      flex: 1;
      background-color: bisque;
    }

    .info-wrapper {
      flex: 2;
      background-color: whitesmoke;
      display: flex;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
}
