.data-app-container {
  padding: 2rem;
  background-color: lightseagreen;

  .top-bar {
    text-align: center;
    h2 {
      margin: unset;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 3rem;
    }
  }

  .quotes-container {
    padding: 4rem;

    .all-quotes {
      background: #efef7f;
      padding: 2rem;
      max-height: 25rem;
      overflow-y: auto;

      .quote {
        padding: 1rem 2rem;
        flex-direction: column;
        display: flex;
        background: #2c3dd3;
        margin: 1rem 0;
        color: #fff;

        q {
          font-size: 2rem;
          font-weight: 700;
          text-align: justify;
        }

        .author {
          font-size: 1.25rem;
          font-weight: 500;
          text-align: end;
        }
      }
    }

    .pagination {
      margin-top: 0.75rem;

      .btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        button {
          font-size: 2rem;
          cursor: pointer;
          transition: all 200ms ease-in-out;

          &:hover {
            transform: scaleX(1.6);
          }
        }

        .btn-active {
          background-color: #000;
          color: #fff;
          border: none;
          outline: none;
        }
      }
    }
  }
}
