.otp-app-container {
  padding: 2rem;
  background-color: #cffcfc;

  .top-bar {
    text-align: center;
    h2 {
      margin: unset;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      font-size: 3rem;
    }
  }

  .otp-container {
    background: #efd29b;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 2rem;

    h3 {
      all: unset;
    }

    .otp-length-box {
      display: flex;
      gap: 3rem;
      select {
        font-size: 1.5rem;
      }
    }

    .otp-fields-box {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      .field {
        height: 50px;
        width: 50px;
        input {
          font-size: 4rem;
          width: 100%;
          text-align: center;
          padding: 0.5rem;
          height: 100%;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }
  }
}
