.card-container {
  padding: 1.5rem;
  background-color: #f051d0;

  .wrapper-div {
    width: 20rem;
    background: #fff;
  }

  .card-wrapper {
    height: 25rem;

    .img-wrapper {
      img {
        width: 100%;
        height: 50%;
      }
    }

    .card-body {
      padding: 1rem;
      display: flex;
      flex-direction: column;

      .card-title {
        font-size: 1.8rem;
      }

      .card-sub-head {
        margin: 0.75rem 0;
        font-size: 1.2rem;
      }

      .card-desc {
        color: #666161;
        text-align: justify;
      }
    }
  }
}
