#root {
  display: grid;
  grid-template-rows: 6rem auto;
  height: 100vh;

  main {
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 4rem;
    height: 100%;
    font-size: 2rem;

    .image-wrapper {
      span {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}
